.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    &__content {
        flex-shrink: 0;
        overflow-y: scroll;
        z-index: 0;
        margin-top: 120px;
    }
    &__sidebar {
        flex-grow: 1;
    }
    &__header {
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: rgb(246, 255, 255);
    }
}